.flag{
    height: 600px;
    width: 900px;
    background-color:#ce1126 ;
    position: relative;
  }

  .flag > div{
    height: 300px;
    width: 900px;
    background-color: #002868;
    position: absolute;
    top: 150px;
  }

  .flag >div>div{ 
    height: 200px;
    width: 200px; 
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50px; 
    left: 350px;
  }
  